html {
  height: 100%;
  width: 100%;
}

.project-1:hover{
  background-color:#FEDE00
}
.project-2:hover {
  background-color:#FEDE00;
}

.project-3:hover {
   background-color: #FEDE00;
}

.project-4:hover {
   background-color: #FEDE00;
}

.project-5:hover {
   background-color: #FEDE00;
}

.project-6:hover {
   background-color: #FEDE00;
}

.project-7:hover {
   background-color: #FEDE00;
}

.project-8:hover {
   background-color: #FEDE00;
}